body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 40px;
  padding: 1%;
}

h2 {
  font-size: 30px;
  padding: 1%;
}

.artist-text {
  margin-left: 15px;
  text-align: left;
}

.artist-button {
  padding: 1%;
  cursor: pointer;
  max-width: 75%;
  transition: all 0.1s ease-out;
}

.artist-button:hover {
  padding: 1%;
  background-color: #444851;
}